<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/inmobiliaria</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="Model/Cocina.hbm.xml"/>
    <mapping resource="Model/Garaje.hbm.xml"/>
    <mapping resource="Model/NumeroBanios.hbm.xml"/>
    <mapping resource="Model/Zona.hbm.xml"/>
    <mapping resource="Model/TiempoConstruido.hbm.xml"/>
    <mapping resource="Model/RangoPrecios.hbm.xml"/>
    <mapping resource="Model/Opcion.hbm.xml"/>
    <mapping resource="Model/NumeroPlantas.hbm.xml"/>
    <mapping resource="Model/EspecificacionesVarias.hbm.xml"/>
    <mapping resource="Model/TipoPropiedad.hbm.xml"/>
    <mapping resource="Model/Ciudad.hbm.xml"/>
    <mapping resource="Model/RangoPreciosAjustado.hbm.xml"/>
    <mapping resource="Model/TipoInmueble.hbm.xml"/>
    <mapping resource="Model/IdentificacionInmobiliaria.hbm.xml"/>
    <mapping resource="Model/Genero.hbm.xml"/>
    <mapping resource="Model/Estrato.hbm.xml"/>
    <mapping resource="Model/TipoOperacion.hbm.xml"/>
    <mapping resource="Model/Pais.hbm.xml"/>
    <mapping resource="Model/NumeroAlcobas.hbm.xml"/>
    <mapping resource="Model/Departamento.hbm.xml"/>
    <mapping resource="Model/InformacionPrincipalHasEspecificacionesVarias.hbm.xml"/>
    <mapping resource="Model/Parqueadero.hbm.xml"/>
    <mapping resource="Model/Roles.hbm.xml"/>
    <mapping resource="Model/InformacionPrincipal.hbm.xml"/>
    <mapping resource="Model/Estado.hbm.xml"/>
    <mapping resource="Model/Condicion.hbm.xml"/>
    <mapping resource="Model/Usuario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
